#main {
  margin: 50px;
  text-align: center;
  align-items: center;
}

#main-title {
  margin: 30px 0px;
  line-height: 50px;
  color: var(--black-color);
  font-size: 45px;
}

#index-box {
  margin: 0px auto;
  width: 1110px;
  align-items: center;
}

.box {
  display: inline-block;
  margin: 20px;
  padding: 70px 0px;
  background-color: var(--grey-c-color);
  height: 200px;
  width: 330px;
  border-radius: 30px;
  box-sizing: border-box;
  transition: all 0.2s;
}

.text {
  margin: 0px;
  font-size: 30px;
  line-height: 60px;
  color: var(--black-color);
}

.box:hover {
  background-color: var(--grey-green-color);
  box-shadow: 5px 5px 5px var(--grey-a-color);
  transition: all 0.2s;
}