:root {
	--main-margin: 50px;
	--h1-margin: 20px 0px;
	--title-block-margin: 10px;
	--title-width: min(calc(100vw - var(--main-margin)*2 - var(--title-block-margin)*2), 500px);
}

#main {
	position: relative;
	margin: var(--main-margin);
	text-align: center;
}

h1 {
	margin: var(--h1-margin);
	line-height: 50px;
	color: var(--black-color);
	font-size: 45px;
}

#back {
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
	font-size: 20px;
	cursor: pointer;
}

#back_text {
	display: inline;
	opacity: 0;
	transition: all 0.2s;
}

#back:hover>#back_text {
	opacity: 1;
	transition: all 0.2s;
}

#generate_box {
	justify-items: center;
}

.title_block {
	margin: var(--title-block-margin);
	background-color: var(--grey-d-color);
	padding: 0px;
	display: block;
	position: relative;
	line-height: 50px;
	height: 50px;
	width: var(--title-width);
	border-radius: 10px;
	font-size: 30px;
	cursor: pointer;
}

#add_button {
	background-color: var(--grey-green-color);
}

#add_button::before {
	content: "追加";
}

.title_move {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	font-size: 30px;
	opacity: 0;
	transition: all 0.2s;
	cursor: grab;
}

#generate_box:has(.dragging)>.dragging>.title_move,
#generate_box:not(:has(.dragging))>.title_block:hover>.title_move {
	opacity: 0.3;
	transition: all 0.2s;
}

.title_move::before {
	content: "\21C5";
}

.dragging {
	opacity: 0.5;
}

.dots {
	margin: -50px 0px 0px calc(var(--title-width) - 50px);
	right: 0px;
	width: 50px;
	font-size: 30px;
}

.dots::before {
	content: "…";
}

#dots_menu {
	position: absolute;
	top: 0px;
	right: -150px;
	width: 130px;
	background-color: white;
	border: 1px solid gainsboro;
	border-radius: 10px;
	color: black;
	font-size: 16px;
	line-height: 25px;
	overflow: hidden;

	hr {
		margin: 2px 10px;
	}
}

#words_list::before {
	content: "一覧を表示";
}

#title_edit::before {
	content: "名前の変更";
}

#title_remove::before {
	content: "削除";
	color: red;
}

#words_list_table {
	display: block;
	width: 100%;
	font-size: 20px;
	border-collapse: collapse;
	overflow-x: scroll;
	scrollbar-width: thin;
	border: 1px solid black;
	box-sizing: content-box;
	scrollbar-color: var(--leaf-green-color) var(--main-bg-color);

	tr {
		border-bottom: 1px solid black;
		box-sizing: border-box;
	}

	th {
		box-sizing: border-box;
	}

	td {
		box-sizing: border-box;
	}

	.no {
		margin: 0px 10px;
		min-width: 50px;
	}

	.word {
		margin: 0px;
		min-width: 200px;
		border-left: 1px solid black;
		border-right: 1px solid black;
	}

	.description {
		margin: 0px;
		min-width: calc(100vw - var(--main-margin)*2 - 250px);
		text-align: left;
	}
}

#card{
	display: flex;
	height: 200px;
	width: 500px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border: 1px solid var(--black-color);
	font-size: 30px;
	background-color: var(--white-color);
	user-select: none;
}